body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url('/src/assets/anime_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none; /* Makes sure the background is not selectable */
  position: fixed;
  z-index: -1;
}


#desktop {
  background: transparent;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index:1
}